@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Raspberry mittauksia</h2>
    <img src="~/Pictures/Raspberry.png" />
    <p class="lead"></p>

    <a href="/humidities" class="btn btn-primary btn-lg" style="width:160px">Kosteus &raquo;</a>
    <a href="/measurements" class="btn btn-primary btn-lg" style="width:160px">Lämpötila &raquo;</a>

    <a href="tähän Pyhon Rasp käynnistys" class="btn btn-primary btn-lg" style="width:220px">Raspberryn käynnistys &raquo;</a>

</div>

